@page "/"
@using Microsoft.AspNetCore.Components.QuickGrid
@using makeITeasy.CarCatalog.dotnet9.Core.Services.Queries.CarQueries
@using makeITeasy.CarCatalog.dotnet9.Models
@using makeITeasy.CarCatalog.dotnet9.WebApp.Components.Layout

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<QuickGrid Items="cars">
    <PropertyColumn Property="@(c => c.Id)" Sortable="true" />
    <PropertyColumn Property="@(c => c.Name)" Sortable="true" />
    <PropertyColumn Property="@(c => c.CreationDate)" Format="yyyy-MM-dd" Sortable="true" />
</QuickGrid>


@* 
<Grid TEntity="Car" TEntityQuery="BasicCarQuery"LoadOnDisplay=true>
    <RadzenDataGridColumn TItem=Car Property="@nameof(Car.Id)" Filterable="false" Title="ID"
                          Frozen="true" Width="80px" TextAlign="TextAlign.Center" />

</Grid> *@