@using ContosoUniversity.WebApplication.ApiControllers
@using ContosoUniversity.WebApplication.Controllers
@using ContosoUniversity.WebApplication.Models.Datatables
@{
    ViewData["Title"] = "Instructors";

    var instructorDatatable = new InstructorDatatable(Url?.RouteUrl(nameof(DatatablesApiController.InstructorsDatatableSearchRequest)));
}

<div id="modalEdit"></div>

<form asp-antiforgery="false" onsubmit="event.preventDefault();" id="searchRequestForm">
@*    <select id="drpD" class="form-control" asp-for="EmployeeId" asp-items="@(new SelectList(Model.EmployeesList, "Value", "Text"))">  
                    <option value="">--Select--</option>  
                </select>  
                <input type="hidden" asp-for="EmployeeId" />  *@
</form>

<vc:datatable configuration="instructorDatatable"></vc:datatable>

@section Scripts
{
<script>
        $(document).ready(function () {
            initDatatable("@instructorDatatable.TableID", "#searchRequestForm", columnRenderers, null);
        });

        var columnRenderers = {
            //'edit': (data, type, row) => {
            //    return '<button type="button" class="btn btn-primary mr-2" data-toggle="ajax-modal" data-target="#modalEdit" data-url="@Url.ActionLink(nameof(CoursesController.Edit), "Courses")/' + row.id + '"><i class="fas fa-edit mr-2"></i>Edit</button>' 
            //        +
            //        '<button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#modalEdit" data-url="@Url.ActionLink(nameof(CoursesController.Details), "Courses")/' + row.id + '"><i class="fas fa-eye mr-2"></i>Details</button>';
            //}
        }

        ////datatables draw => add modal handlers for rows
        //$("#@instructorDatatable.TableID").on("dblDrawEvent", '', function (event) {
        //    $('#@instructorDatatable.TableID [data-toggle="ajax-modal"]').on("click", function (event) {
        //        var modal = new saveModal();
        //        modal.initModal(this);
        //    });
        //});
</script>
}
