@{
    Layout = "_Layout";
}
<component type="typeof(makeITeasy.CarCatalog.dotnet8.WebApp.WebAppElements.Components.Cars.CarList)" render-mode="Server" />

<section Scripts>
    <script src="~/_framework/blazor.server.js" autostart="false"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
                console.log("starting blazor");
                Blazor.start();
        });
    </script>
</section>