Sample application based on University Contoso as provided by Microsoft.
<br/>
<a href="https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/?view=aspnetcore-6.0">https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/?view=aspnetcore-6.0</a>
<br/>

Database diagram :<br />
<img src="https://docs.microsoft.com/fr-fr/aspnet/core/data/ef-mvc/complex-data-model/_static/diagram.png?view=aspnetcore-6.0" />