@model makeITeasy.CarCatalog.Models.Car
ID = @Model.Id
<br />
Name = @Model.Name
<br />
Année = @Model.ReleaseYear
<br />
Marque = @Model.Brand?.Name
<br />



<button onclick="$.slidePanel.hide();">Close</button>